QTreeWidget::item {color: #000000;}
QTreeWidget::indicator:checked {background-color: #55FF00;}
QTreeWidget::indicator:checked:hover {background-color: #BBFF00;}
QTreeWidget::indicator:unchecked {background-color: #DDDDDD;}
QTreeWidget::indicator:unchecked:hover {background-color: #AAAAAA;}