QPushButton {
	background-color: rgb(230, 230, 230);
	border-style: solid;
	border-color: rgb(176, 176, 176);
	border-width: 1px;
}
QPushButton:hover {background-color: rgb(210, 230, 255)}
QPushButton:pressed {background-color: rgb(170, 190, 255)}